@import url('https://fonts.googleapis.com/css?family=Forum');
@import url('https://fonts.googleapis.com/css?family=Exo+2');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700');
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand+SC');


body{
  margin: 0;
  padding: 0;
  height: auto;
}

* {
  box-sizing: border-box;
 }
 *:before,
 *:after {
  box-sizing: border-box;
 }
 html,
 body {
  height: auto;
  position: relative;
  pointer-events: auto;
 }

 .App{
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 80px; /* height of your footer */
 }

 p, li, ul, ol{
  font-family: 'Forum', cursive;
 }

 h1, h2, h3, h4, h5{
  font-family: 'Exo 2', sans-serif;
  font-weight: bolder;
 }

/*Home*/
.logo-home{
  width: 400px;
  margin-top: 3%;
  margin-left: 30%;
}
.willkommen{
  margin: 0 auto;
  margin-top: 0px;
  background-image: url('./images/appetizer-background.jpg');
  /*filter: brightness(.6);*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  
}
.willkommen-section{
  margin: 0;
  height: 800px;
}

.register-section{
  margin: 0 auto;
  width: 800px;
  height: auto;
  padding: 70px;
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-60%, -60%);
  /*border: 3px solid white;*/
}

.willkommen h1{
  filter: brightness(2);
  text-align: center;
  /*margin-right: 60%;*/
  color:white;
  text-shadow:1px 1px rgba(128, 128, 128, 0.801);
  font-size: 30px;
  margin-bottom: 25px;

}


.homeLink{
  color: aliceblue;
  text-align: center;
  height: 50px;
  font-size: 18px;
  background-color: rgba(241, 247, 241, 0.411);
  border-radius: 5px;
}

.homeLink a{
  color: blanchedalmond;
  padding: 50px;
  
}


/*Menu*/

@media screen and (max-width: 768px) {
  #menu-toggle:checked + .nav-menu {
    display: block;
  }
}

.fix-logo{
  margin-left: 0px;
}


.nav-menu{
  margin-bottom: 0px;
  font-size: 20px;
}

.container .fix-logo .navbar .is-success{
  margin-left: 0px;
  margin-right: 0px;
}

#logo{
  margin-left: 0;
  width: 250px;
  height: 80px;
}

#mapIcon{
  margin-top: 17px;
  margin-right: 0px;
  width: 40px;
  /* cursor: wait; */
  cursor: url('../src/images/greensalad.png'), auto;
  
}

.navbar-item a{
  font-size: 20px;
}
.fa-user-circle{
  font-size: 40px;
  
}
.fa-sign-out-alt{
  margin-left:5px; 
  font-size: 20px;
}

/*Sign & Singup*/

.Logbox{
  border-radius: 8px;
  background-image: url('./images/berries-bowl-of-fruit-citrus-1128678.jpg');
  filter: brightness(.9);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 500px;
  height: auto;
  padding: 40px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.field{
  color: black;
  text-shadow: 1px 2px rgba(245, 245, 245, 0.678);
  text-align: left; 
}

.field label{
  font-size: 25px;
  padding: 0;
  font-weight: lighter;
}

.social{
  margin-right: 20px;
  margin-top: 20px;
}

.fa-facebook-f, .fa-google, .fa-twitter{
  margin-right: 10px;
}

.is-link{
  margin-right: 30px;
}

.is-info{
  margin-left: 30px;
}
section{
  margin: 20px;
  /* background-color: rgba(100, 148, 237, 0.397); */
}

.help .is-success{
  font-size: 20px;
}

/*Grenner*/

.carousel .control-dots {
  position: absolute;
  bottom: 30px;
  margin: 10px 0;
  text-align: center;
  width: 100%;
}

.carousel{
  height: 500px;
}


.slide img{
  max-width: 40em;
  height: 30em;
}

.carousel .thumbs-wrapper {
  display: none;
  margin: 20px;
  overflow: hidden;
}

.share{
 text-align: center;
 font-size: 30px;
 margin-bottom: 20px;
 color: rgb(1, 78, 1);
 font-weight: bold;
}

.legend{
 font-size: 30px;
}

#grenner-textarea {
  width: 50%;
  margin: 0 auto;
  margin-top: 100px;
}

.publish{
  width: auto;
  
}

.green-button{
  margin-top: 5px;
  margin-right: 5px;
}

.home-title{
  margin-bottom: 10px;
}

.green-card{
  width: 100%;
  display: inline-block;

}

.feed-pic, .description-Title{
  width: 70%;
  display: inline-block;
}

.cards-editors svg, .content-editor svg{
  margin-left: 5px;
  font-size: 20px;
}
.cards-editors, .content-editor{
  position: absolute;
  bottom: 5%;
  right: 5%;
  display: inline-block;
}



/*Footer*/
footer {
  background: url('https://images.pexels.com/photos/347140/pexels-photo-347140.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position:absolute; /*El div será ubicado con relación a la pantalla*/
  left:0px; /*A la derecha deje un espacio de 0px*/
  right:0px; /*A la izquierda deje un espacio de 0px*/
  bottom:0px; /*Abajo deje un espacio de 0px*/
  height:auto; /*alto del div*/
  z-index:0;
 }

 .footer{
	padding: 3% 0;
}

 .divider{
  position:absolute; /*El div será ubicado con relación a la pantalla*/
  left:0px; /*A la derecha deje un espacio de 0px*/
  right:0px; /*A la izquierda deje un espacio de 0px*/
  bottom:-50px; /*Abajo deje un espacio de 0px*/
  height:30px; /*alto del div*/
  z-index:0;
  width: 100%;
 }

 .has-text-centered svg{
   color: white;
   margin-left: 40px;
   font-size: 30px;
 }


 .fuckin-title{
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px rgb(230, 226, 226);
}

.under-const{
  text-align: right;
  font-size: 20px;
  color: aliceblue;
  text-shadow: 1px 1px grey;
  margin-top: 10px;
}

 /*Profile*/
 .profile{
   margin: 0 auto;
   height: auto;
 }

 .picSect, .userData{
   font-size: 23px;
   margin: 0 auto;
   background-color: azure;
   width: 100%;
   height: auto;
   text-align: center;

 }

 .profPic{
  border-radius: 50%;
  margin-top: 40px;
  width: 250px;
  font-weight: bold;
 }

 
 .card{
   margin:0 auto;
   margin-top: 30px; 
   padding: 10px;
   width: 80%;
   text-align: left;
   border-radius: 8px;
   box-shadow: 1px 2px black;
 }

 .title{
   width: 70%;
   display: inline-block;
 }

/* .recipe-title, .recipe-ingre {
   width: 25%;
   /* text-align: center; */
   /*display: inline-block;
 }*/
 
 /*.recipe-direcc{
   width: 70%;
 }*/

 .description-Title{
   width: 100%;
   display: inline-block;
 }

 .cards-editors{
  margin-right: 5px;
 }

 #recipesProf{
   width: 50%;
   /* height: auto;
   position: absolute;
   top: 0;
   right: 250px; */
   margin-left: 35px;
   font-size: 10px;
 }

 /*Foodmap*/
 .the-map{
   margin: 0 auto;
 }
 
 .myhome{
   margin: 0 auto;
   width: 75%;
   padding: 5px;
 }

 /*Recipe view*/
 .recipe-container{
   width:70%;
 }

 .card-image{
   margin: 0 auto;
   width: 60%;
   border: 5%;
 }

 .recipe-instruc-cont{
   width: 100%;
 }

 .recipe-mainTitle{
   margin-top: 5%;
   width: 100%;
   text-align: center;
 }

 .list-of-ingredients, .list-of-directions{
   width: 80%;
   font-size: 20px;
   margin:5%; 
 }